body {
    background: #B3B0A2;
    font-family: 'Kanit', sans-serif;
    font-weight: 400px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
    list-style: none;
    min-height: 100vh;
}

html,
body {
    scroll-behavior: smooth;
}

/*******************For-Media-Adjustments************************/

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2%;
}

.hamburger {
    position: relative;
    width: 30px;
    height: 4px;
    background: #D5D4D4;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: #D5D4D4;
    border-radius: 10px;
    transition: 0.3s;
    z-index: 2;
}

.hamburger::before {
    top: -10px;
    width: 20px;
}

.hamburger::after {
    top: 10px;
    width: 25px;
}

.toggle-menu {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.hamburger,
.toggle-menu {
    display: none;
}

.navigation input:checked~.hamburger {
    background: transparent;
}

.navigation input:checked~.hamburger::before {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

.navigation input:checked~.hamburger::after {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}


.menu2.show {
    /* transform: translateY(0); */
    height: 360px;
}

.menu2.unshow {
    /* transform: translateY(-150%); */
    height: 0px;
}

/*******************For-Media-Adjustments************************/


/********************HEADER**********************/
header {
    font-family: 'Kanit', sans-serif;
    display: flex;
    height: 750px;
    padding-bottom: 5%;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 750px;
    background-image: url('./img/nier-theme.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.2);
    /* set the color and opacity of the layer */
    z-index: -1;
    /* make sure the layer is behind the content */
    opacity: 0.4;
}

header nav ul {
    position: relative;
    margin: auto;
    padding: 0;
    right: -10.2%;
}

header nav ul li {
    margin: 20px;
    position: relative;
    list-style: none;
    display: inline-block;
}

header nav ul li a {
    padding: 5px;
    font-size: 19px;
    font-weight: bolder;
    color: #67665F;
}

header nav ul li a:hover {
    color: #D5D4D4;
}

.logo-holder {
    display: block;
}

.header-logo img {
    background: rgba(65, 65, 60, 1);
    cursor: pointer;
    margin-left: 108%;
    padding: 0.5rem;
    width: 190px;
    height: auto;
}

.nav {
    position: absolute;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.nav ul li a::after {
    content: '';
    height: 6px;
    width: 0;
    background: #67665F;
    position: absolute;
    left: 0;
    bottom: -14px;
    transition: 0.45s;
}

.nav ul li a:hover::after {
    width: 100%;
}

.nav a {
    text-decoration: none;
    margin: 0.8rem;
}

.nav.scrolledY {
    transform: translateY(-100%);
}

.nav.scrolled {
    transition: transform 0.5s ease-out;
    position: fixed;
    color: #D5D4D4;
    transform: translateY(0%);
    background: rgba(65, 65, 60, 1);
    /* new background color when scrolled */
}

.nav.scrolled ul li a {
    color: #D5D4D4;
}

.nav.scrolled ul li a:hover {
    color: #67665F;
}

.nav.scrolled ul li a::after {
    background: #D5D4D4;
}

.title {
    font-size: larger;
    color: #4D4B3D;
    transform: translateX(102%);
    position: absolute;
    top: 30%;
}

.subtitle {
    line-height: 0%;
    font-size: 320%;
}

.avatar {
    justify-content: center;
    display: flex;
    position: relative;
    height: 590px;
    width: 550px;
    top: 15%;
    left: 58%;
    opacity: 0.85;
}

.btn_Resume {
    color: #4D4B3D;
    border: none;
    margin-top: 1%;
    font-weight: bolder;
    padding: 15px 25px;
    background-color: #B3B0A2;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 0.8;
    transition: background-position 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn_Resume::after {
    margin: 0;
    display: inline-block;
    content: '';
    height: 45px;
    width: 0;
    background: #67665F;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.25s;
    z-index: -1;
}

.btn_Resume:hover::after {
    width: 107.5px;
    opacity: 0.8;
    background-position: 0 0;
    color: #D5D4D4;
}

.btn_Resume:hover {
    cursor: pointer;
    color: #D5D4D4;
}


/**********************************************/





/********************BODY**********************/

main {
    color: #67665F;
    font-size: 18px;
}


/*****ABOUT*****/
.about-wrapper {
    display: grid;
    font-size: 17.5px;
    height: 800px;
    margin: 0 auto;
    grid-template-columns: repeat(2, minmax(500px, 1fr));
}

.language-wrapper {
    display: grid;
    font-size: 17.5px;
    height: 800px;
    margin: 0 auto;
    grid-template-columns: repeat(2, minmax(500px, 1fr));
}

.about-section {
    height: 600px;
    padding: 48px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.about-section-text {
    transform: translateY(22%);
    align-items: center;
    text-align: left;
}

.about-section-text h2 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.txt-portion {
    line-height: 70%;
    word-wrap: break-word;
}

.txt-modified{
    display: none;
}

.about-section img {
    max-width: 400px;
    height: auto;
}

.about-img {
    transform: translateY(10%);
}

/*****ABOUT*****/


/*****PROGRAM*****/
.language-h2 {
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.numSpan {
    color: #AE57D0;
    font-size: 200%;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 5px #ff00de, 0 0 2px #ff00de, 0 0 10px #ff00de, 0 0 2px #ff00de, 0 0 20px #ff00de;
}

.language-img {
    transform: translateY(15%);
    width: 300px;
    animation: hue-rotate 5s linear infinite;
}

@keyframes hue-rotate {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

.language-section {
    transform: translateY(10%);
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, minmax(180px, 1fr));
}

.language-section {
    grid-gap: 5%;
    padding-left: 15%;
}

.language-section img {
    filter: grayscale(50%);
    opacity: 0.8;
    justify-content: center;
    align-items: center;
    max-width: 60px;
    border: 1px solid black;
    border-radius: 50%;
}

.language-grid {
    padding: 15%;
    overflow: visible;
}

.language-grid:hover {
    filter: grayscale(0%);
    opacity: 1;
    background-color: rgba(172, 135, 187, 1);
    cursor: pointer;
    border: 1px solid #ff00de;
    box-shadow: 0 0 10px #AE57D0,
        0 0 50px #AE57D0,
        0 0 40px #ccc,
        0 0 50px #AE57D0,
        0 0 40px #ccc;
    transition: 0.5s;
}

.faded{
    display: none;
}

/*****PROGRAM*****/



/*****PORTFOLIO*****/
.projects-section {
    padding-top: 8%;
    height: 700px;
    margin: 0 auto;
}

.project-txt {
    padding-left: 12.1%;
    margin: 0;
    text-align: left;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.grid-container {
    padding-left: 13%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    grid-gap: 10px;
}

.image-grid {
    transform: translateX(-5%);
    max-width: 300px;
    max-height: 200px;
    margin-bottom: 15%;
    position: relative;
}

.image-grid img {
    display: block;
    width: 300px;
    height: 200px;
    max-width: 300px;
    max-height: 200px;
    border-radius: 5px;
}

.image-grid img:hover {
    transition: transform 0.3s ease-in-out;
    cursor: zoom-in;
    box-shadow: 0 0 5px 5px rgba(8, 93, 46, 0.3);
}

.image-grid::before {
    position: absolute;
    content: "";
    background-color: rgba(8, 93, 46, 0.5);
    opacity: 0;
    width: 0;
    height: 0;
    max-width: 300px;
    max-height: 200px;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
}

.image-grid:hover::before {
    display: flex;
    content: "\271A";
    font-size: 4em;
    color: #D5D4D4;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    max-width: 300px;
    max-height: 200px;
    opacity: 1;
    pointer-events: none;
}

.image-grid::after {
    display: inline-block;
    font-size: 15px;
    content: "";
    font-weight: bold;
    color: #67665F;
    position: absolute;
    height: auto;
    max-width: 300px;
    max-height: 200px;
    padding-top: 4%;
    left: 20%;
    text-align: left;
    pointer-events: none;
}

.grid1::after {
    content: "Blogger UI design\a HTML/CSS, Sublime Text";
    white-space: pre;
}

.grid2::after {
    content: "Clients management system\a C#, UWP, VS";
    white-space: pre;
}

.grid3::after {
    content: "Emma inventory\a C#, SQL, ASP.NET, VS";
    white-space: pre;
}

.grid4::after {
    content: "Sale-Order system\a HTML/CSS/JS, VS Code";
    white-space: pre;
}

.grid5::after {
    content: "Covid Data analysis\a Python Numpy, Jupiter Note";
    white-space: pre;
}

.grid6::after {
    content: "PAC Users maintainence\a C#, HTML/CSS/JS, MVC 5, VS";
    white-space: pre;
}

.grid-item-overlay {
    content: "";
    margin-top: 3%;
    padding-top: 5%;
    width: 50px;
    height: 35px;
    max-width: 50px;
    max-height: 35px;
    display: inline-block;
    background-image: url("/img/Github.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    position: absolute;
    overflow: visible;
}

.grid-item-overlay:hover {
    cursor: pointer;
    filter: hue-rotate(290deg) brightness(2.8);
}

.Xgrid:hover {
    filter: hue-rotate(80deg) brightness(1.7);
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.modal:hover{
    cursor: zoom-out;
}

.modal-content {
    color: #D5D4D4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#modal-image {
    width: 1300px;
    height: 700px;
    max-width: 1300px;
    max-height: 800px;
    border-radius: 5px;
    box-shadow: 0 0 8px 8px rgba(8, 93, 46, 0.4);
    transition: box-shadow 0.3s ease-in-out;
}

#modal-image:hover{
    cursor: pointer;
}

#pagination-controls {
    position: absolute;
    width: 100%;
    margin-top: 10px;
    justify-content: space-between;
    display: flex;
}

.btn-next {
    position: relative;
    display: inline-block;
    padding: 10px 5px;
    background-color: #333;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.btn-next::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent #D5D4D4;
    transform: translate(300%, -1080%);
    transition: all 0.3s ease;
}

.btn-next:hover::before {
    border-color: transparent transparent transparent #959090;
}


.btn-prev {
    position: relative;
    display: inline-block;
    padding: 10px 5px;
    background-color: #333;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.btn-prev::before {
    content: '';
    position: absolute;
    left: 0;
    /* adjust as needed */
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 30px 20px 0;
    border-color: transparent #D5D4D4 transparent transparent;
    transform: translate(-300%, -1080%);
    transition: all 0.3s ease;
}

.btn-prev:hover::before {
    border-color: transparent #959090 transparent transparent;
}


/*****PORTFOLIO*****/


/*****CONTACT*****/

.contact-section {
    padding-top: 8%;
    height: 750px;
    margin: 0 auto;
    text-align: center;
    line-height: 0%;
    z-index: 1;
    color: #D5D4D4;
}

.contact-section h2 {
    display: block;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.contact-section p {
    font-size: 19px;
    display: block;
}

.info {
    display: inline-block;
}

.info img:hover {
    filter: hue-rotate(90deg);
    cursor: pointer;
    transition: all 0.5s;
}

.contact-info img {
    display: inline-block;
    position: absolute;
    padding: 0 1%;
    width: 40px;
    height: 40px;
    max-width: 60px;
    max-height: 60px;
    transform: translate(-10%, -65%);
}

.insta-info img {
    display: inline-block;
    position: absolute;
    padding: 0 1%;
    width: 40px;
    height: 40px;
    max-width: 60px;
    max-height: 60px;
    transform: translate(60%, -65%);
}

.linked-info img {
    display: inline-block;
    position: absolute;
    padding: 0 1%;
    width: 35px;
    height: 35px;
    max-width: 60px;
    max-height: 60px;
    transform: translate(145%, -65%);
}

.email-btn {
    position: relative;
    margin-top: 1%;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 15px 25px;
    background-color: #67665F;
    color: #D5D4D4;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 0.8;
    transition: background-position 0.3s ease-in-out, color 0.3s ease-in-out;
}

.email-btn:hover {
    cursor: pointer;
    color: #4D4B3D;
}

.email-btn::after {
    margin: 0;
    display: inline-block;
    content: '';
    height: 30px;
    width: 0;
    background: #B3B0A2;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.25s;
    z-index: -1;
}

.email-btn:hover::after {
    width: 117.58px;
    opacity: 0.8;
    background-position: 0 0;
    color: #4D4B3D;
}

.img-cross {
    padding: 1.2rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('/img/coding.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 2%;
}

.img-cross p {
    opacity: 1;
}

/*****CONTACT*****/
/**********************************************/





/********************FOOTER**********************/
.footerpos {
    display: block;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1% 0 1% 0;
    height: auto;
    text-align: center;
    background-color: darkslategrey;
    justify-content: center;
}

.text-footer {
    display: block;
    color: #D5D4D4;
    align-items: center;
}
/**********************************************/



/******************MEDIA-SCREENS-RESPONSIVENESS**********************/

@media screen and (min-width: 1440px) {
    header{
        height: 750px;
    }

    header::before{
        height: 750px;
    }

    main{
        overflow-x: hidden;
    }

    .menu2{
        display: none;
    } 

    .menu{
        display: flex;
    }
    
    header nav ul li a {
        padding: 5px 0;
        font-size: 19px;
        font-weight: bolder;
        color: #67665F; 
    }

    header nav ul{
        transform: translateX(8.3%);
    }

    .header-logo img {
        margin-left: 45%;
        padding: 0.5rem;
        width: 190px;
    }

    .nav{
        height: 90px;
    }

    .title{
        transform: translateX(47%);
        font-size: 20px;
        top: 35%;
    }

    .btn_Resume{
        font-size: large;
        margin-top: 7%;
    }

    .btn_Resume::after {
        height: 51.67px;
    }
    
    .btn_Resume:hover::after {
        width: 127.02px;
        opacity: 0.8;
        background-position: 0 0;
        color: #D5D4D4;
    }

    .avatar{
        height: 650px;
        transform: translateX(0.7%);
    }

    .about-section{
        height: 900px;
    }

    .Agrid2{
        transform: translateY(22%);
        font-size: 19px;
    }

    .Agrid1 img{
        height: 600px;
        width: 480px;
        max-height: 650px;
        max-width: 500px;
        transform: translateY(-8%);
    }

    .language-wrapper{
        height: 800px;
    }

    .Agrid3, .Agrid4{
        transform: translateY(-13%);
    }

    .projects-section{
        height: 900px;
    }

    .projects-section h2{
        margin-top: 0%;
        margin-bottom: 7%;
        margin-left: -1%;
    }

    .grid-container{
        grid-gap: 40px;
        margin-left: -1%;
        transform: translateY(-11%);
    }

    #modal-image {
        width: 1250px;
        height: 700px;
        max-width: 1250px;
        max-height: 700px;
    }

    #modal-metadata{
        margin-top: 1%;
    }

    .contact-section{
        width: 80%;
    }

    .img-cross{
        border-radius: 10px;
    }

    .about-wrapper{
        max-width: 1440px;
    }

    .about-section{
        max-width: 1440px;
    }
    
    .language-wrapper{
        max-width: 1440px;
    }

    .language-section{
        max-width: 1440px;
    }

    .contact-section{
        max-width: 100%;
    }
}

@media screen and (min-width: 1919px) {
    header{
        height: 1000px;
    }

    header::before{
        height: 1000px;
    }

    main{
        overflow-x: hidden;
    }

    header nav ul {
        right: -12.7%;
    }
    
    header nav ul li a {
        padding: 5px;
        font-size: 22px;
        font-weight: bolder;
        color: #67665F;
    }

    .header-logo img {
        margin-left: 42%;
        padding: 0.5rem;
        width: 220px;
    }

    .nav{
        height: 100px;
    }


    .avatar{
        height: 850px;
        left: 60.8%;
    }

    .title {
        font-size: 30px;
        transform: translateX(33%);
        position: absolute;
        top: 35%;
    }
    
    .subtitle {
        line-height: 0%;
        font-size: 320%;
    }

    .about-wrapper {
        transform: translateY(0%);
        height: 1100px;
    }
    
    .Agrid1{
        transform: translateY(10%);
    }

    .Agrid1 img{
        height: 700px;
        width: 520px;
        max-height: 700px;
        max-width: 520px;
        transform: translateY(-8%);
    }

    .Agrid2{
        transform: translateY(25%);
        font-size: 22px;
    }

    .language-wrapper {
        transform: translateY(0);
        font-size: 17.5px;
        height: 1100px;
    }
    

    .Agrid4{
        transform: translateY(-3%);
        font-size: 22px;
    }

    .Agrid3{
        transform: translateY(-5%);
    }
    
    .projects-section{
        height: 800px;
    }

    .projects-section h2{
        margin-top: 0%;
        margin-bottom: 8%;
    }

    .grid-container{
        grid-gap: 70px;
    }

    .grid-item-overlay{
        margin-top: 5%;
    }

    .image-grid::after{
        font-size: 18px;
    }

    .about-wrapper{
        max-width: 1920px;
    }

    .about-section{
        max-width: 1920px;
    }
    
    .language-wrapper{
        max-width: 1920px;
    }

    .language-section{
        max-width: 1920px;
    }

    .contact-section{
        max-width: 100%;
    }
}

@media screen and (max-width: 1439px) {

    main{
        max-width: 1439px;
        overflow-x: hidden;
    }

    .hamburger,
    .toggle-menu {
        display: block;
    }

    .nav {
        position: relative;
        color: #D5D4D4;
        background: rgba(65, 65, 60, 1);
        height: 80px;
        z-index: 2;
    }

    .menu{
        display: none;
    }

    .menu2 {
        display: flex;
        font-weight: light;
        text-align: center;
        justify-content: start;
        flex-direction: column;
        position: absolute;
        top: 80%;
        right: 0;
        background: rgba(65, 65, 60, 1);
        width: 100%;
        height: 0px;
        overflow: hidden; /* hide overflow content */
        transition: height 0.3s ease-in-out;
        z-index: 1;
        padding-bottom: 0;
    }

    .menu2 li{
        border-bottom: 1px solid #333;
    }

    .nav ul li a::after {
        display: none;
    }

    .nav ul li {
        position: relative;
        z-index: 1;
      }
      
      .nav ul li::before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 0;
        height: 30px;
        background: #D5D4D4;
        opacity: 0.7;
        z-index: -1;
        transition: width 0.25s ease-in-out;
      }
      
      .nav ul li:hover::before {
        width: 100%;
      }

    header{
        height: 860px;
    }

    header::before{
        height: 860px;
    }
    
    header nav ul li a {
        padding: 5px 0;
        font-size: 20px;
        font-weight: bolder;
        color: #D5D4D4;
    }

    .header-logo img {
        margin-left: 0;
        margin-top: 2%;
        width: 200px;
    }

    .nav{
        height: 100px;
    }

    .title{
        transform: translateX(130%);
        margin-top: 6%;
        font-size: 20px;
    }

    .btn_Resume{
        font-size: 16px;
        margin-top: 8%;
    }

    .btn_Resume::after {
        height: 48.33px;
    }
    
    .btn_Resume:hover::after {
        width: 118.46px;
        opacity: 0.8;
        background-position: 0 0;
        color: #D5D4D4;
    }

    .avatar{
        display: none;
    }

    .about-wrapper{
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        height: 900px;
    }


    .Agrid1 {
        display: none;
    }

    .Agrid2 {
        text-align: center;
        font-size: 19px;
    }

    .txt-1{
        display: none;
    }

    .txt-portion{
        padding: 0% 6%;
        line-height: normal;
        word-wrap: break-word;
    }

    .txt-modified{
        display: block;
    }

    .Agrid1 img{
        display: none;
    }

    .language-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        height: 1200px;
    }

    .language-section {
        grid-template-columns: repeat(2, minmax(180px, 1fr));
        transform: translateY(30%);
        padding-left: 5%;
    }

    
    .Agrid4{
        display: none;
    }

    .faded{
        display: block;
        transform: translateY(200%);
    }

    .projects-section{
        height: 1000px;
    }

    .projects-section h2{
        margin-top: 3%;
        margin-bottom: 6%;
        margin-left: -5%;
    }

    .grid-container{
        margin-top: -2%;
    }

    .image-grid{
        margin-left: -17%;
    }

    #modal-image {
        width: 1000px;
        height: 500px;
        max-width: 1000px;
        max-height: 500px;
    }

    #modal-metadata{
        margin-top: 1%;
    }

    .btn-next::before {
        content: '';
        transform: translate(-10%, -100%);
    }

    .btn-prev::before {
        content: '';
        transform: translate(10%, -100%);
    }

    .grid-container{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 60px;
    }

    .about-wrapper{
        max-width: 1439px;
    }

    .about-section{
        max-width: 1439px;
    }
    
    .language-wrapper{
        max-width: 1439px;
    }

    .language-section{
        max-width: 1439px;
    }

    .contact-section{
        max-width: 1439px;
    }
}

@media screen and (max-width: 1171px){
    main{
        max-width: 1171px;
        overflow-x: hidden;
    }

    .grid-container{
        margin-left: 0;
    }

    
    .projects-section h2{
        margin-left: 0%;
    }

    .image-grid{
        margin-left: 0;
    }

    .about-wrapper{
        max-width: 1050px;
    }

    .about-section{
        max-width: 1171px;
    }
    
    .language-wrapper{
        max-width: 1171px;
    }

    .language-section{
        max-width: 1171px;
    }

    .contact-section{
        max-width: 1171px;
    }
}

@media screen and (max-width: 1050px) {
    main{
        max-width: 1050px;
        overflow-x: auto;
    }

    .title{
        transform: translate(95%,-5%);
    }

    .Agrid2{
        transform: translateY(18%);
    }

    #modal-image{
        width: 750px;
        height: 450px;
        max-width: 750px;
        max-height: 450px;
    }

    .projects-section{
        margin-left: -5%;
    }

    .projects-section h2{
        margin-top: 10%;
        margin-left: 0%;
    }

    .contact-section{
        padding-top: 12%;
    }

    .contact-section iframe{
        width: 80%;
        max-height: 380px;
        height: 380px;
    }

    .about-wrapper{
        max-width: 1050px;
    }

    .about-section{
        max-width: 1050px;
    }
    
    .language-wrapper{
        max-width: 1050px;
    }

    .language-section{
        max-width: 1050px;
    }

    .contact-section{
        max-width: 1050px;
    }
}

@media screen and (max-width: 768px) {

    main{
        max-width: 768px;
        overflow-x: auto;
    }

    .hamburger,
    .toggle-menu {
        display: block;
    }


    .nav {
        color: #D5D4D4;
        transform: translateY(0%);
        background: rgba(65, 65, 60, 1);
        height: 80px;
    }

    .title {
        font-size: 15px;
        margin: 0;
        padding: 0;
        transform: translate(105%, 0%);
        align-items: center;
    }

    .avatar {
        display: none;
    }

    .header-logo img {
        margin: 0;
        padding: 0.5rem;
        width: 160px;
    }

    .menu {
        display: flex;
        font-weight: light;
        text-align: center;
        flex-direction: column;
        position: absolute;
        top: 80%;
        right: 0;
        background: rgba(65, 65, 60, 1);
        width: 100%;
        height: 330px;
        transform: translateY(-150%);
        transition: transform 0.3s ease-out;
        overflow: auto;
    }


    .menu li {
        width: 100%;
    }

    .menu li a,
    menu li a:hover {
        font-size: 15px;
        color: #D5D4D4;
    }

    .about-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        max-width: fit-content;
    }

    .about-section{
        height: 620px;
        max-width: 768px;
    }

    .Agrid1 {
        display: none;
    }

    .Agrid2 {
        text-align: center;
        font-size: 18px;
        transform: translateY(16%);
    }

    .txt-1{
        display: none;
    }

    .txt-portion{
        padding: 0 10%;
    }

    .txt-modified{
        display: block;
    }

    

    .language-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
        height: 1150px;
    }

    .faded{
        text-align: center;
        font-size: 22px;
        display: block;
        transform: translateY(205%);
    }

    .Agrid4{
        display: none;
    }

    .language-section {
        padding: 0;
        margin: auto;
        transform: translate(10%, 25%);
        padding-left: 0;
        max-width: 768px;
    }

    .language-section img{
        width: 25%;
    }

    .projects-section {
        height: 2000px;
        margin-top: 0%;
        margin-left: 24.5%;
        padding-top: 15%;
        max-width: 768px;
    }

    .projects-section h2 {
        font-size: 20px;
        margin-bottom: 8%;
        margin-left: 50px;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 50px;
    }

    .image-grid {
        max-width: 250px;
        max-height: 180px;
        width: 100%;
    }

    .image-grid img {
        width: 250px;
        height: 180px;
        max-width: 250px;
        max-height: 180px;
    }

    .image-grid::before {
        max-width: 250px;
        max-height: 180px;
    }

    .image-grid::before {
        max-width: 250px;
        max-height: 180px;
    }

    .image-grid:hover::before {
        font-size: 3em;
        width: 250px;
        height: 180px;
        max-width: 250px;
        max-height: 180px;
    }

    .image-grid::after {
        font-size: 13px;
        max-width: 250px;
        max-height: 180px;
        padding-top: 5%;
        left: 23%;
        text-align: left;
        pointer-events: none;
    }

    .modal{
        margin: 0;
    }

    #modal-image {
        height: 340px;
        width: 570px;
        max-height: 340px;
        width: 570px;
    }

    .btn-next::before {
        transform: translate(-10%, -90%);
    }

    .btn-prev::before {
        transform: translate(10%, -90%);
    }

    #modal-metadata {
        transform: translateY(50%);
    }

    .contact-section {
        height: 780px;
        max-width: 100%;
    }

    .contact-section p {
        font-size: smaller;
    }

    .img-cross{
        padding: 6%;
    }

    .contact-section iframe {
        transform: translateY(15%);
        width: 80%;
    }

    .email-btn {
        font-size: small;
    }

    .contact-info img {
        width: 30px;
        height: 30px;
        transform: translate(5%, -65%);
    }

    .insta-info img {
        width: 30px;
        height: 30px;
        transform: translate(90%, -65%);
    }

    .linked-info img {
        width: 25px;
        height: 25px;
        transform: translate(205%, -65%);
    }

    .email-btn:hover::after {
        width: 98.8px;
    }

    /****footer*****/
    .text-footer {
        transform: translateY(0);
    }

    .homeimg {
        max-width: 10%;
    }

    .footerpos {
        font-size: smaller;
    }
}

@media screen and (max-width: 650px) {
    main{
        max-width: 650px;
        overflow-x: auto;
    }

    .title{
        transform: translate(105%, 0%);
    }

    .about-wrapper{
        max-width: 650px;
    }

    .about-section{
        max-width: 650px;
    }
    
    .language-wrapper{
        max-width: 650px;
    }

    .language-section{
        max-width: 650px;
    }

    .contact-section{
        max-width: 650px;
    }
}

@media screen and (max-width: 575px) {
    main{
        max-width: 575px;
        overflow-x: auto;
    }

    .title{
        transform: translate(85%, 0%);
    }

    .about-section{
        height: 650px;
    }

    .txt-portion{
        font-size: 15px;
    }

    .faded{
        margin-bottom: 12%;
    }

    .projects-section{
        margin-left: 20%;
    }

    #modal-image{
        height: 310px;
        width: 520px;
        max-width: 520px;
        max-height: 310px;
    }

    .contact-section iframe{
        max-width: 80%;
        height: 350px;
    }

    .about-wrapper{
        max-width: 575px;
    }

    .about-section{
        max-width: 575px;
    }
    
    .language-wrapper{
        max-width: 575px;
    }

    .language-section{
        max-width: 575px;
    }

    .contact-section{
        max-width: 575px;
    }
}

@media screen and (max-width: 510px) {

    
    main{
        max-width: 510px;
        overflow-x: auto;
    }

    .title{
        transform: translate(65%, 0%);
    }

    
    .about-wrapper{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-items: center;
    }
    

    .Agrid2{
        margin: 0 auto;
        min-width: 300px;
    }
    
    .txt-portion{
        padding: 0 10%;
    }

    #modal-image{
        height: 290px;
        width: 490px;
        max-width: 490px;
        max-height: 290px;
    }

    .about-wrapper{
        max-width: 510px;
    }

    .about-section{
        max-width: 510px;
    }
    
    .language-wrapper{
        max-width: 510px;
    }

    .language-section{
        max-width: 510px;
    }

    .contact-section{
        max-width: 510px;
    }
}

@media screen and (max-width: 475px) {

    main{
        max-width: 475px;
        overflow-x: hidden;
    }

    .title{
        font-size: 14.5px;
        transform: translate(60%, 0%);
    }

    .language-section{
        max-width: fit-content;
        padding: auto;
        margin: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 5%;
        margin-top: 15%;
    }

    .faded{
        margin-left: -15%;
    }

    .language-section img{
        max-width: 30px;
    }

    .projects-section{
        margin-left: 15%;
    }

    #modal-image {
        height: 250px;
        width: 420px;
        max-height: 250px;
        max-width: 420px;
    }

    .btn-next::before {
        transform: translate(-45%, -90%);
    }

    .btn-prev::before {
        transform: translate(45%, -90%);
    }

    .contact-section{
        width: 100%;
    }

    .about-wrapper{
        max-width: 475px;
    }

    .about-section{
        max-width: 475px;
    }
    
    .language-wrapper{
        max-width: 475px;
    }

    .language-section{
        max-width: 475px;
    }

    .contact-section{
        max-width: 475px;
    }
}

@media screen and (max-width: 425px) {

    main{
        max-width: 425px;
        overflow-x: hidden;
    }

    .title{
        font-size: 13.5px;
        transform: translate(40%, 0%);
    }

    .language-section{
        margin-left: 1%;
        margin-top: 0%;
    }

    .faded{
        font-size: 18px;
        margin-left: -22%;

    }

    .projects-section{
        margin-left: 10.8%;
    }

    .projects-section h2{
        margin-top: 15%;

    }

    #modal-image {
        height: 210px;
        width: 350px;
        max-height: 210px;
        max-width: 350px;
    }

    .btn-next::before {
        transform: translate(-45%, -90%);
    }

    .btn-prev::before {
        transform: translate(45%, -90%);
    }

    
    .contact-section{
        font-size: small;
        padding-top: 22%;
        width: 100%;
    }

    .about-wrapper{
        max-width: 425px;
    }

    .about-section{
        max-width: 425px;
    }
    
    .language-wrapper{
        max-width: 425px;
    }

    .language-section{
        max-width: 425px;
    }

    .contact-section{
        max-width: 425px;
    }
}

@media screen and (max-width: 390px){
    main{
        max-width: 390px;
        overflow-x: hidden;
    }

    .language-section{
        margin-left: -0.2%;
        margin-top: 0;
    }

    .faded{
        font-size: 18px;
        margin-left: -27%;

    }

    .projects-section{
        margin-left: 10.5%;
    }

    .projects-section h2{
        margin-top: 15%;
    }

    .about-wrapper{
        max-width: 390px;
    }

    .about-section{
        max-width: 390px;
    }
    
    .language-wrapper{
        max-width: 390px;
    }

    .language-section{
        max-width: 390px;
    }

    .contact-section{
        max-width: 390px;
    }
}

@media screen and (max-width: 375px) {
    main{
        max-width: 375px;
    }

    .language-section{
        margin-left: -4%;
        margin-top: 1%;
    }

    .faded{
        font-size: 18px;
        margin-left: -33%;

    }

    .projects-section{
        margin-left: 7.5%;
    }

    .projects-section h2{
        margin-top: 15%;
    }

    .about-wrapper{
        max-width: 375px;
    }

    .about-section{
        max-width: 375px;
    }
    
    .language-wrapper{
        max-width: 375px;
    }

    .language-section{
        max-width: 375px;
    }

    .contact-section{
        max-width: 375px;
    }
}

@media screen and (max-width: 350px) {
    main{
        max-width: 350px;
    }

    .language-section{
        margin-left: -5%;
        margin-top: 3%;
    }

    .faded{
        font-size: 18px;
        margin-left: -35%;

    }

    .projects-section{
        margin-left: 5%;
    }

    .projects-section h2{
        margin-top: 15%;
    }

    .about-wrapper{
        max-width: 350px;
    }

    .about-section{
        max-width: 350px;
    }
    
    .language-wrapper{
        max-width: 350px;
    }

    .language-section{
        max-width: 350px;
    }

    .contact-section{
        max-width: 350px;
    }
}

@media screen and (max-width: 325px) {

    main{
        max-width: 325px;
    }

    .title{
        font-size: 14px;
        transform: translate(38%, 0%);
    }


    .language-section{
        margin-left: -5%;
        margin-top: 8%;
    }

    .faded{
        margin-left: -40%;
    }

    .language-section img{
        max-width: 30px;
        margin-left: -6%;
    }

    .projects-section{
        margin-left: 4%;
    }
    
    .grid-container{
        grid-gap: 90px;
    }

    #modal-image {
        height: 220px;
        width: 380px;
        max-height: 220px;
        max-width: 380px;
    }

    .btn-next::before {
        transform: translate(-105%, -90%);
    }

    .btn-prev::before {
        transform: translate(105%, -90%);
    }

    .contact-section{
        font-size: small;
        padding-top: 20%;
    }

    .about-wrapper{
        max-width: 325px;
    }

    .about-section{
        max-width: 325px;
    }
    
    .language-wrapper{
        max-width: 325px;
    }

    .language-section{
        max-width: 325px;
    }

    .contact-section{
        max-width: 325px;
    }
}



/******************MEDIA-SCREENS-RESPONSIVENESS**********************/
